.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.App-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
}

.logo {
  height: 40px;
}

.title {
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-small {
  width: 50%;
}

.text-small {
  font-size: 1.5rem;
}